.khung{
	margin: 0 auto;
	width: 90%;
	height: auto;
}
.box-top{
	width: 100%;
	height:110px;
	background: black;
}
.boxlogo{
	float: left;
	margin: 0;
	width: 50%;
	height:100%;
}
.boxlogo h1{
	width: 100%;
	font-weight: 100;
    float: left;
    margin: 0;
    font-size: 48px;
    text-transform: uppercase;
    color: white;
    line-height: 110px;
    font-family: arial;
    margin-left: 13%;
}
.boxlogo h1 span{
	color: #ffcb0d;
}
.boxmenu{
	float: left;
	margin: 0;
	width: 50%;
	height:100%;
}
.bil-gach{
	float: right;
	display: none;
	width: 16%;
	height:100%;
}
.bil-gach .gach{
	margin: 23% 10%;
	width: 80%;
	height:3%;
	background: white;
}
.boxmenu ul{
	margin: 0;
	padding: 0;
}
.boxmenu ul li{
	float: left;
	margin-top: 30px;
	padding: 12px 20px;
	list-style: none;
}
.boxmenu ul li.hover {
	background: #ffe31fd1;
	border-radius: 5px;	
}
.boxmenu ul li.hover:hover{
	background: red;
}
.boxmenu ul li.hover a{
	padding-top: 
}
.boxmenu ul li a{
	text-decoration:  none;
	color: white;
	font-size: 23px;
	text-transform: capitalize;
	font-family: arial;
	font-weight: 100;
}
.boxmenu ul li a:hover{
	color: blue;
}
@media screen and (max-width: 576px) {
	.boxlogo{
		width: 100%;
		float: left;
		margin-bottom: 2px;
	}
	.boxlogo h1{
		margin-left: 26%;
		font-size: 35px;
	}
	.boxmenu{
		display: block;
		clear: both;
		background: black;
		width: 100%;
		height:80%;
	}
	.boxmenu ul li{
		margin-top: 25px;
		padding: 10px 20px;
	}
	.boxmenu ul li a{
		font-size: 18px;
	}
}
@media screen and (max-width: 480px){
	.boxlogo{
		width: 100%;
		height:100%;
		float: left;
		margin-bottom: 5px;
	}
	.boxlogo h1{
		font-size: 35px;
		margin-left:20%;

	}
	.boxmenu{
		height:50%;
	}
.bil-gach{
	float: right;
	display: block;
	width: 16%;
	height:100%;
}
.bil-gach .gach{
	margin: 19% 10%;
	width: 80%;
	height:3%;
	background: white;
}
	.boxmenu ul li{
		display: none;
	}
}